<span class="created-by"
	>© 2019-{{ 'FOOTER.PRESENT' | translate }},
	<a href="#" target="_blank">Buciko-HRMS</a>
	{{ 'FOOTER.BY' | translate }}
	<a href="#" target="_blank">BucikoCodes</a
	>. {{ 'FOOTER.RIGHTS_RESERVED' | translate }}
</span>
<div class="right-side">
	<div class="mr-2" *ngIf="user">
		<a [routerLink]="">{{
			'FOOTER.TERMS_OF_SERVICE' | translate
		}}</a>
		<span class="mx-1">|</span>
		<a [routerLink]="">{{
			'FOOTER.PRIVACY_POLICY' | translate
		}}</a>
	</div>
	<div class="socials">
		
		<a
			href="facebook/bucikocodes"
			target="_blank"
			class="ion ion-logo-facebook"
		></a>
		<a
			href="twitter/bucikocodes"
			target="_blank"
			class="ion ion-logo-twitter"
		></a>
		<a
			href="linkedin/bucikocodes"
			target="_blank"
			class="ion ion-logo-linkedin"
		></a>
	</div>
</div>
